/* Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* utilities */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
  margin: 0;
  margin-top: 90px;
  padding: 0;
}

main {
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  background-color: #ffffff;
  width: 870px;
  padding: 30px;
  margin-top: 21px;
  border-radius: 5px;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}

header {
  background-color: #562eff;
  width: 100%;
  padding: 15px 0;
  top: 0;
  position: fixed;
  color: #ffffff;
  
}
.nav-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
.logo img {
  margin-left: -140px;
  padding-right: 10px;
  width: 42px;
  height: 51px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links{
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.nav-links a{
  color: #ffffff;
  padding-right: 15px;
  text-decoration: none;
}
/*
.navbar{
  margin-left: 20%;
  margin-right: 20%;
}
.navbar img {
 
}
.nav-links a {
  justify-content: flex-end;
  text-decoration: none;
  color: #ffffff;
  
} */
/* .navbar {
  
  width: 100%;
  height: 92px;
  top: 0;
  position: fixed;

}
.navbar nav ul li {
  text-decoration: none;
}

.nab-head {
  font-size: 24px;
} */

/* Top Players Style  */
.top-players {
  margin-bottom: 30px;
}

.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 3px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.player-name {
  margin-left: 16px;
  font-size: 18px;
}
/* top blogs styles */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
}
.blog {
  display: flex;
}
.blog .thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-info {
  margin-left: 16px;
}
.blog-title {
  font-size: 20px;
}
.blog-author {
  color: #9f9f9f;
  font-size: 16px;
}
.blog-author a {
  font-size: 16px;
  color: #562eff;
  text-decoration: none;
}
/* Latest Courses */
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  box-shadow: 10px;
}
.course .course-banner img {
  width: 224px;
  height: 104px;
}
.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}

/* Media Queries */

/* Mobile Devices */
@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
  .player,
  .blog {
    flex-direction: column;
  }
}
/* Tablet Devices  */

@media only screen and (min-width: 688px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .players,
  .courses {
    grid-template-columns: repeat(2, 1fr);
  }
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
}
